[SddmGreeterTheme]
Name=Kitsune
Description=Tema personalizado para SDDM
Author=Cerezas1
Copyright=2026, Cerezas1
License=MIT
Type=sddm-theme
Version=1.0
Website=
MainScript=Main.qml
ConfigFile=Themes/theme.conf
TranslationsDirectory=translations
FontsDirectory=Assets/Fonts
