@import url("colors.css");

* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font";
    font-size: 12px;
    min-height: 0;
    transition: background-color 0.25s ease, color 0.25s ease;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

#workspaces,
#window,
#cpu,
#clock {
    margin: 0 4px;
    padding: 0 12px;
    border-radius: 8px;
    background: @background;
}

#workspaces button {
    color: @primary;
    padding: 0 8px;
    margin: 4px;
    border-radius: 10px;
    background: transparent;
}

#workspaces button.active {
    color: @background;
    background: @primary;
}

#workspaces button:hover {
    background: alpha(@primary, 0.18);
    color: @primary;
}

#workspaces button.urgent {
    color: #ffffff;
    background: #e64553;
}

#window {
    color: @foreground;
    border: 1px solid @border;
}

#cpu {
    color: @primary;
    border: 1px solid alpha(@primary, 0.2);
}

#clock {
    color: @primary;
    border: 1px solid alpha(@primary, 0.2);
}

#pulseaudio {
    color: @primary;
    background-color: alpha(@background, 0.3);
    padding: 0 12px;
    border-radius: 8px;
    margin: 0 4px;
    border: 1px solid alpha(@primary, 0.2);
}

#custom-brightness {
    color: @primary;
    background-color: alpha(@background, 0.3);
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
    border: 1px solid alpha(@primary, 0.2);
}

#custom-brightness:hover {
    background-color: alpha(@primary, 0.2);
}
