[SddmGreeterTheme]
Name=Kitsune
Description=Tema de login con wallpaper a pantalla completa, panel con blur, avatar y frases animadas
Author=Usuario
Copyright=(c) 2026
License=MIT
Type=sddm-theme
Version=1.0
Website=
Screenshot=screenshot.png
MainScript=Main.qml
QtVersion=6
ConfigFile=theme.conf
TranslationsDirectory=translations
