@import "purp.rasi"

* {
    font: "Dancing Script 12";
}

window {
    width:            850px;
    height:           700px;
    border:           2px;
    border-radius:    16px;
    border-color:     rgba (203, 166, 247, 0.25);
    background-color: @bg-transparent;
}

mainbox {
    children:         [ listview ];
    padding:          18px;
}

listview {
    background-color: transparent;
    columns:          3;
    lines:            3;
    cycle:            true;
    dynamic:          true;
    layout:           vertical;
    spacing:          14px;
    scrollbar:        false;
}

element {
    background-color: transparent;
    text-color:       @text-normal;
    orientation:      vertical;
    border-radius:    10px;
    padding:          8px;
}

element-icon {
    background-color: transparent;
    border-radius:    8px;
    size:             130px;
    cursor:           pointer;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    font:             "Dancing Script 12";
    expand:           true;
    horizontal-align: 0.5;
    vertical-align:   0.5;
    margin:           6px 0px 0px 0px;
}

element normal.normal {
    background-color: transparent;
    text-color:       @text-normal;
}

element alternate.normal {
    background-color: transparent;
    text-color:       @text-normal;
}

element selected.normal {
    background-color: @bg-selected;
    text-color:       @text-selected;
}
