$primary: #b3c5ff;
$on_primary: #1a2e60;
$primary_container: #324478;
$on_primary_container: #dbe1ff;

$secondary: #c1c6dd;
$on_secondary: #2a3042;

$tertiary: #e2bbdc;
$on_tertiary: #422741;

$surface: #121318;
$on_surface: #e3e2e9;
$surface_variant: #45464f;
$on_surface_variant: #c5c6d0;

$background: #121318;
$on_background: #e3e2e9;

$outline: #8f909a;
$error: #ffb4ab;
