$primary: #8ad0ee;
$on_primary: #003545;
$primary_container: #004d63;
$on_primary_container: #bce9ff;

$secondary: #b4cad5;
$on_secondary: #1e333c;

$tertiary: #c5c3ea;
$on_tertiary: #2e2d4d;

$surface: #0f1417;
$on_surface: #dee3e6;
$surface_variant: #40484c;
$on_surface_variant: #c0c8cc;

$background: #0f1417;
$on_background: #dee3e6;

$outline: #8a9296;
$error: #ffb4ab;
