$primary: #a3c9fe;
$on_primary: #00315b;
$primary_container: #1e4876;
$on_primary_container: #d3e4ff;

$secondary: #bcc7db;
$on_secondary: #263141;

$tertiary: #d8bde3;
$on_tertiary: #3c2947;

$surface: #111418;
$on_surface: #e1e2e8;
$surface_variant: #43474e;
$on_surface_variant: #c3c6cf;

$background: #111418;
$on_background: #e1e2e8;

$outline: #8d9199;
$error: #ffb4ab;
